---
title: Blog // Terminal Pixel
---

<% blog.articles.each do |article| %>
<article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 class="entry-title" itemprop="name"><%= link_to article.title, article.url %></h1>
	</header>

	<div class="entry-content" itemprop="articleBody">
		<%= article.summary %>
	</div>

	<footer>
		<div class="metadata">
			<time datetime="<%= article.date.strftime('%b-%e-%Y') %>"><span>Posted on</span> <%= article.date.strftime('%b %e, %Y') %></time>
			<!-- | <strong>Metadata:</strong> <%= article.tags.join(', ') %> -->
		</div>
	</footer>
</article>
<% end %>